<div>
    <div>
        <p>Chat</p>
    </div>

    <input name="chatbox" placeholder="mensaje" id="chatbox">
    <p id="mensajes"></p>




</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>