<div>
    <h1>LOGIN</h1>
        <form id="loginForm">
            <div>
                <label>Email</label>
                <input name ="email" id="email">
            </div>
            <div>
                <label>Contraseña</label>
                <input name ="password" type="password">
            </div>
            <input type="submit" value="Submit">
        </form>
    <p>¿No estas registrado? <a href="/register">Ingresa aquí</a></p>
    <p><a href="/api/sessions/github">Ingresa con github</a></p>
</div>


<script src="/js/login.js"></script>