<div>
    <h1>REGISTRO</h1>
    <form id="registerForm">
        <div>
            <label>Nombre</label>
            <input name ="first_name">
        </div>
        <div>
            <label>Apellido</label>
            <input name ="last_name">
        </div>
        <div>
            <label>Email</label>
            <input name ="email">
        </div>
        <div>
            <label>Edad</label>
            <input name ="age" >
        </div>
        <div>
            <label>Contraseña</label>
            <input name ="password" type="password">
        </div>
        <input type="submit" value="Submit">
    </form>
    <p>¿Ya tienes cuenta? <a href="/login">Ingresa aquí</a></p>
</div>

<script src="/js/register.js"></script>